#navbar {
    height: 80px;
    display: flex;
    width: 80vw;
    max-width: 1800px;
    /* gap: 600px; */
    justify-content: space-between;
    margin: 2vh auto;
}

#sidebar {
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    top: 0;
    right: 0;
    height: 80vh;
    width: 100%;
    z-index: 6;
    align-items: center;
    background-color: rgba(159, 159, 159, 0.275);
    backdrop-filter: blur(2px);
}


.sidebar-btn {
    height: 60px;
    width: 60px;
    fill: white;
    position: absolute;
    top: 1vh;
    right: 1vh;
    flex: 1;
    z-index: 999;
}

#closeIcon {
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
}

#logo {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    font-size: 3rem;
    color: white;
    align-self: center;
}

.btn {
    padding: 14px 8px;

    background-color: mediumpurple;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    z-index: 3;
    transition: 200ms;
    border: rgb(97, 73, 144) 4px solid;
}



.sidebar-btn-container {
    width: 100% !important;
    background-color: rgba(147, 112, 216, 0.767);
}

.btn:hover {
    background-color: rgba(147, 112, 216, 0.749);
    transition: 200ms;
    cursor: pointer;
}

.btn:active {
    background-color: rgba(147, 112, 216, 0.302);
    transition: 150ms;
    color: rgb(173, 173, 173);
}

.hide {
    display: none !important;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 220, 0.512);
}

.error {
    color: red !important;
}

/* .move-up-down {
    scale: 0.6;

    position: relative;

    animation-name: move;

    animation-duration: 2s;

    animation-direction: alternate;

    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;

} */

/* @keyframes move {

    from {
        top: 0px; 
    }

    to {
        top: 50px;
    }

} */

/* container for nav-buttons */
.nav-buttons {
    flex: 1;
    text-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    gap: 2vw;
    max-width: 500px;
}

/* nav-buttons themselves */
.nav-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    transition: 200ms ease-out;
}

.nav-btn:hover {
    filter: drop-shadow(0px 0px 5px white);
    transition: 200ms ease-in;
    cursor: pointer;
}

.nav-btn:active {
    color: rgb(202, 202, 202);
    filter: drop-shadow(0px 0px 7px white);

    transition: 100ms !important;
}

.nav-end {
    text-align: end;
}

.dropdown {

    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 35px 50px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* new */
#earth-container {
    background-color: rgba(245, 222, 179, 0.501);
    width: 100vw;
    margin: auto 0;
}

#earth {
    display: block;
    width: 30%;
    height: 30%;
    margin: 10vh auto;
}

.lang-change {
    align-content: center;
    height: 100%;
    display: flex;
    align-self: center;
    gap: 6px;
    align-items: center;
    margin-left: 10%;
}

.lang-change>img {
    height: 40%;
    width: auto;
}

/* Personal Cabinet */
/* .pc-wrapper {
    outline: 1px solid red;
    height: 50%;
    text-decoration: none;
    align-self: center;
    display: inline-block;
} */
.pc-container>* {
    transition: 200ms;
}

.pc-container,
.pc-balance {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.pc-container {
    color: white;

    text-decoration: none;
    background-color: rgb(44, 193, 213);
    align-self: center;
    height: 50%;
}

.pc-container:hover {
    background-color: rgba(44, 193, 213, 0.7);

}



.pc-container>img {
    user-select: none;

    height: 100%;
    width: auto;
}

#pc-name {
    margin: 0 6px;
}

.pc-balance {

    height: 100%;
    background-color: rgb(85, 85, 85);
    min-width: 60px;
    justify-content: center;
    gap: 4%;
}

.pc-balance>img {
    user-select: none;


    height: 30%;
    width: auto;
}

#mLogin-btn {
    background-color: rgba(0, 136, 255, 0.687);
    border: none;
    height: 60%;
    align-self: center;
    border-radius: 2px;
}

#mLogin-btn:hover {
    background-color: rgba(0, 136, 255, 0.487);
}

@media only screen and (min-width: 1201px) {
    .hideOnDesktop {
        display: none !important;
    }

}

@media only screen and (max-width: 1200px) {
    .hideOnMobile {
        display: none !important;
    }
}

/* @media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/

/*}*/

/* @media only screen and (max-width: 425px) {} */