
.navbar{
    margin: 4vh 2px;
}
.logo {
    font-family: 'Press Start 2P', ariel, normal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.btn {
    background-color: mediumpurple;
    font-family: 'Press Start 2P', ariel, normal;
    position: inherit;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
    color: white;

}
.info {
    background-color: mediumpurple;
    font-family: 'Press Start 2P', ariel, normal;
    position: inherit;
    font-size: 30px;
    font-weight: bold;
    color: white;

    width: fit-content;
}

.players{
    
}

.earth{
     position: inherit;
   
}

.move-up-down {

  transform: translateX(40%);
     scale: 0.6;

position: relative;

animation-name: move;

animation-duration: 2s;

animation-direction: alternate;

animation-timing-function: ease-in-out;

animation-iteration-count: infinite;

}
@keyframes move {

from {top: 0px;}

to {top: 50px;}

}
.upperbuttons{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.leftside{
    display:flex;
    gap: 80px;
}

.rightside{
    display:flex;
    gap: 35px;
}


            .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 35px 50px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }