#navbar {
    display: flex;
    width: 100vw;
    gap: 40px;
    margin: 4vh 0;
    align-items: flex-end;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    top: 0;
    right: 0;
    height: 80vh;
    width: 50vw;
    z-index: 999;
    align-items: flex-start;
    background-color: wheat;
}

#logo {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.btn {
    background-color: mediumpurple;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0 12px;
    padding: 4px 6px;
    transition: 200ms;
    border: rgb(97, 73, 144) 4px solid;
}

.btn:hover {
    background-color: rgba(147, 112, 216, 0.749);
    transition: 200ms;
    cursor: pointer;
}

.btn:active {
    background-color: rgba(147, 112, 216, 0.302);
    transition: 150ms;
    color: rgb(173, 173, 173);
}

.info {
    background-color: mediumpurple;
    position: inherit;
    font-size: 30px;
    font-weight: bold;
    color: white;

    width: fit-content;
}

.players {}

.move-up-down {
    scale: 0.6;

    position: relative;

    animation-name: move;

    animation-duration: 2s;

    animation-direction: alternate;

    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;

}

/* @keyframes move {

    from {
        top: 0px; 
    }

    to {
        top: 50px;
    }

} */

.nav-buttons {
    flex: 1;
    text-wrap: no-wrap;
    margin: 0 100px;
}

.nav-end {
    text-align: end;
}

.dropdown {

    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 35px 50px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* new */
#earth-container {
    width: 100vw;
}

#earth {
    display: block;
    margin: auto;
}

@media only screen and (min-width: 1201px) {
    #sidebar {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .hideOnMobile {
        display: none !important;
    }
}

/* @media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/

/*}*/

/* @media only screen and (max-width: 425px) {} */